@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Trirong:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Trirong:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DEB887;
}

/* .fundo{
    width: 100vw;
    height: 100vw;
    background-color: #DEB887;

} */

.title{
    top: 200px;
    left: 100px;
}

.title h1 {
    
    margin-left: 150px;
    width: 400px;
    height: 201px;
    color: #FFFF;
    font-size: 55px;
    font-family: Trirong;
}

#h1eu{
    margin-top: 200px;
}

.title p {
    margin-top: 20px;
    margin-left: 150px;
    width: 540px;
    height: 138px;
    color: #888973;
    font-size: 31px;
    font-family: Trirong;
}

.eu {
    display: flex;
    width: 100vw;
    height: 600px;

}

.imagem {
    width: 50%;
    height: 500px;
    margin-left: 150px;
}

#davi{
    border-top-left-radius: 400px;
}

.apresentacao {
    width: 50%;
    height: 500px;
}

.apresentacao h1{
    margin-top: 580px;
    /* width: 540px;
    height: 138px; */
    color: #888973;
    font-size: 53px;
    font-family: Trirong;
    font-style: italic;
}


.apresentacao p{
    margin-top: 50px;
    width: 780px;
    /* width: 540px;
    height: 138px; */
    color: #888973;
    font-size: 20px;
    font-family: Mulish;
    
}

.blocointeresse{
    width: 1677px;
    height: 220px;
    margin-left: 120px;
    margin-right: 120px;
}

.linhah{
    margin-top: 400px;
    height: 5px;
    background-color: white;
    border: none;
}

.box{
    width: 600px;
    height: 5px;
    margin-top: 400px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: white;
}

.interesse{
    width: 1677px;
    height: 45px;
    font-size: 35px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
    margin-top: 90px;
}

.itenspessoais{
    height: 900px;
    margin-left: 120px;
    margin-right: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.imgskate {
    width: 558px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgskate h3{
    margin-top: 100px;
    font-size: 35px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}

.imgskate p{
    width: 482px;
    margin-top: 100px;
    font-size: 15px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}


.imgjogo {
    width: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgjogo h3{
    margin-top: 100px;
    font-size: 35px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}

.imgjogo p{
    width: 509px;
    margin-top: 100px;
    font-size: 15px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}

.imgfilme {
    width: 558px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.imgfilme h3{
    margin-top: 100px;
    font-size: 35px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}

.imgfilme p{
    width: 509px;
    margin-top: 100px;
    font-size: 15px;
    color: #888973;
    font-family: Trirong;
    text-align: center;
}

.itens{
    object-fit: cover;
    margin-top: 50px;
    max-width: 100%;
    width: 500px;
    height: 512px;
    display: flex;
    border-radius: 600px;
}

.objetivo{
    margin-top: 200px;
    margin-left: 120px;
    width: 600px;
}

.objetivo h2{
    font-size: 35px;
    color: #888973;
    font-family: Trirong;
}

.objetivo hr{
    width: 230px;
    margin-top: 20px;
    height: 5px;
    background-color: white;
    border: none;
}

.objetivo p{
    width: 570px;
    margin-top: 80px;
    font-size: 18px;
    color: #888973;
    font-family: Trirong;
}

.footer{
    width: 100vw;
    height: 46px;
    background-color: #E8E7E2;
}

.footer p{
    padding-top: 14px;
    padding-bottom: 12px;
    font-family: Mulish;
    text-align: right;
    margin-right: 120px;
    color: #888973;
}